/* About */

.about {
    width: 600px;
}

#aboutText {
    float: left;
    width: 50%;
    margin-left: 0.6em;
}

.about>img {
    height: 320px;
    width: 260px;
    border-radius: 10px;
    border: 1px solid #17252A;
    margin: 1em 0em 1em 1em;
    float: left;
}